
bin

*.o
*.a
*.uk

*.mk
!template.mk
.*.mk
*.str
*.mesh

projects/keyread/makefile
projects/preprocessor/makefile
projects/scraper/makefile
projects/suprem/makefile

*.actual
*.success
success
winsuccess
